<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products: <%= categorie.name  %></title>
</head>
<body>
    <main>
        <h1><%= products.name %></h1>  
        
        
        <% products.forEach(product => { %>

            <li>
               
                <%= product.name %>
                <%= product.price %> €

            </li>

        <% }) %>

        <a href="/">Voltar</a>

        <!-- quando tem = é um echo -->
    </main>
</body>
</html>