<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Confirmation</title>
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <link rel="stylesheet" href="../public/styles/index.css">
</head>
<body>
    <main>
        <div class="navbar">
            <div class="navbar__wrapper">
                <nav class="navbar__menu">
                    <ul>
                        <li><a href="/register">Criar conta</a></li>
                        <li id="logoutButton" style="display: none;">Logout</li>
                        <li id="loginButton" style="display: none;"><a href="/login">Login</a></li>
                    </ul>
                </nav>
            </div>
        </div>

        <div class="title_wrapper">
            <h2 class="title">Confirmação do Pedido</h2>
        </div>

        <div class="confirmation_info-warpper">
            <section class="confirmation_info">
                <p>O seu pedido foi realizado com sucesso! Obrigado pela sua compra.</p>
            </section>      

            <div class="btn_wrapper">
                <button class="backBtn"><a href="/">Continuar comprando</a></button>
            </div>
        </div>

        <div class='footer_wrapper'>
            <footer>
                <hr class="hr"/>
                <p class='footer_info'>© Copyright 2024 Olga Lemos - Parabéns | <small>Todos os direitos reservados</small></p>
                <p class='footer_info'>
                    Rua dos Namorados, nº 242 3750-722 — Recardães, Aveiro - Portugal <br> 
                    +351 933 251 197 (Custo chamada para rede fixa nacional)
                </p>
            </footer> 
        </div>
    </main>

<!-- Login+logout btn function -->
<script src="../public/js/logBtn.js"></script>
<!-- Logout -->
<script src="../public/js/logout.js"></script>
</body>
</html>
