<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <link rel="stylesheet" href="../public/styles/index.css">
</head>
<body>
    <main>
        <div class="navbar">
            <div class="navbar__wrapper">
                <nav class="navbar__menu">
                    <ul>
                        <li id="logoutButton" style="display: none;">Logout</li>
                        <li id="loginButton" style="display: none;"><a href="/login">Login</a></li>
                        <li id="register" style="display: none;"><a href="/register">Criar conta</a></li>
                        <li id="profile" style="display: none;"><a href="/user">Perfil</a></li>
                        <li id="cartButton" onclick="viewCart()">Ver Carrinho</li>
                    </ul>
                </nav>
            </div>
        </div>

        <div class="title_wrapper">
            <h1 class="home_title">Olga Lemos</h1>
        </div>

        <div class="cards_wrapper">
            <ul class="card_container">
                <% categories.forEach(categorie => { %>
                    <button class="card">
                        <a href="/categorie/<%= categorie.categorie_id %>">
                            <%= categorie.name %>
                        </a>
                    </button>
                <% }) %>
            </ul>
        </div>

        <div class='footer_wrapper'>
            <footer>
                <hr class="hr"/>
                <p class='footer_info'>© Copyright 2024 Olga Lemos - Parabéns | <small>Todos os direitos reservados</small></p>
                <p class='footer_info'>
                    Rua dos Namorados, nº 242 3750-722 — Recardães, Aveiro - Portugal <br> 
                    +351 933 251 197 (Custo chamada para rede fixa nacional)
                </p>
            </footer> 
        </div>     
    </main>

<!-- Login+logout btn function -->
<script src="../public/js/logBtn.js"></script>
<!-- Logout -->        
<script src="../public/js/logout.js"></script>
<!-- Mostrar carrinho -->
<script src="../public/js/cartData.js"></script>
</body>
</html>
