<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../public/styles/index.css">
</head>
<body>
    <main>
        <div class="navbar">
            <div class="navbar__wrapper">
                <nav class="navbar__menu">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/register">Criar conta</a></li>
                    </ul>
                </nav>
            </div>
        </div>

        <div class="title_container">
            <h2 class="title">Login</h2>
        </div>

        <div class="form_container" id="loginForm">
            <form method="post" action="/api/login">
                <div class="form_group">
                    <label>Email</label>
                    <input type="email" name="email" required>
                </div>
                <div class="form_group">
                    <label>Password</label>
                    <input type="password" name="password" minlength="8" maxlength="1000" required>
                </div>
                <div class="form_group">
                    <button type="submit" class="submit-btn">Login</button>
                </div>
            </form>
        </div>

        <div class='footer_container'>
            <footer>
                <hr class="hr"/>
                <p class='footer_info'>© Copyright 2024 Olga Lemos - Parabéns | <small>Todos os direitos reservados</small></p>
                <p class='footer_info'>
                    Rua dos Namorados, nº 242 3750-722 — Recardães <br> 
                    Aveiro - Portugal <br> 
                    +351 933 251 197 (Custo chamada para rede fixa nacional)
                </p>
            </footer> 
        </div>         
    </main>

<script src="../public/js/login.js"></script>
</body>
</html>