.cart_wrapper {
    text-align: center;
    width: 80%;
    max-width: 500px;
    margin: 0 auto;
    padding: 3rem;
}

.cart_info-wrapper, .total_info, .btn_wrapper {
    margin-bottom: 20px;
    padding: 1rem;
}

.cart-item {
    list-style-type: none;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.btn_wrapper button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.btn_wrapper button a {
    color: inherit;
    text-decoration: none;
}

.backBtn, .checkoutBtn {
    color: white;
    border: none;
    padding: 0.5rem;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.9rem;
    margin-top: 0.5rem;
}

.backBtn {
    background-color: #007bff;
}
.checkoutBtn {
    background-color: palevioletred;
}
.backBtn:hover {
    background-color: #0056b3;
}
.checkoutBtn:hover {
    background-color: #8e65b5;
}