.cart_wrapper {
    text-align: center;
    width: 80%;
    max-width: 500px;
    margin: 0 auto;
    padding: 3rem;
}

.cart_info-wrapper, .total_info, .btn_wrapper {
    margin-bottom: 20px;
    padding: 1rem;
}

.cart-item {
    list-style-type: none;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.checkoutBtn, .deleteBtn {
    color: white;
    background-color: palevioletred;
    border: none;
    padding: 0.5rem;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.9rem;
    margin-top: 0.5rem;
    transition: background-color 0.3s;
}

.checkoutBtn:hover, .deleteBtn:hover {
    background-color: #8e65b5;
}