.confirmation_info-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 500px;
    margin: 0 auto;
    padding: 3rem;
}

.confirmation_info {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    padding: 1rem;
}