@import "home.css";
@import "categories.css";
@import "login.css";
@import "register.css";


@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;700&family=Dancing+Script:wght@400..700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    width: 100vw;
    font-family: "Cormorant Garamond", serif; 
    font-weight: 300;
    font-style: normal;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

/* NAVBAR */
.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 1rem 2rem;
    backdrop-filter: blur(4px);
}

.navbar__wrapper {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.navbar__menu ul li {
    display: inline-block;
}

li a {
    list-style: none;
    text-decoration: none;
    padding: 1rem;
    color: #000;
    font-size: 1rem;
    text-transform: uppercase;
}

a:hover {
    color: palevioletred;
}

/* FOOTER */
.hr {
    height: 1px;
    width: 35rem;
    background: #402412;
    opacity: 1;
}

.footer_container{
    width: 100%;
    position: relative;
    margin-top: 5rem;
}

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
}

.footer_info {
    margin: 1em;
    color: #402412;
    text-align: center;
    line-height: 25px;
}

/* RWD */
@media (max-width: 600px) {
    .hr {
        width: 20rem;
    }
    .footer_info {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
}