@import "home.css";
@import "categories.css";
@import "login.css";
@import "register.css";
@import "cart.css";
@import "confirmation.css";

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;700&family=Dancing+Script:wght@400..700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    width: 100vw;
    font-family: "Cormorant Garamond", serif; 
    font-weight: 300;
    font-style: normal;
    color: #402412;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

/* TÍTULOS */
.title_wrapper {
    text-align: center;
    margin-top: 6rem;
}

.title {
    font-family: "Cormorant Garamond", serif;
    font-style: normal;
    font-weight: lighter;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.8rem;
    padding: 1rem 0;
    color: #402412;
}

/* NAVBAR */
.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 1rem 2rem;
    backdrop-filter: blur(4px);
    background-color: rgba(255, 255, 255, 0.208);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.029); 
    z-index: 1000; 
}

.navbar__wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
}

.navbar__menu ul {
    list-style: none; 
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1rem; 
}

.navbar__menu ul li {
    display: inline-block;
    text-transform: uppercase;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 20px;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.navbar__menu ul li a, #logoutButton, #cartButton{
    color: #402412;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: color 0.3s;
}

.navbar__menu ul li a:hover, #logoutButton:hover, #cartButton:hover {
    color: #fff;
}

/* BTN */
.btn_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn_wrapper button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.btn_wrapper button a {
    color: inherit;
    text-decoration: none;
}

.backBtn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 0.5rem;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.9rem;
    margin-top: 0.5rem;
    transition: background-color 0.3s;
}

.backBtn:hover {
    background-color: #0056b3;
}

/* FOOTER */
.hr {
    height: 1px;
    width: 35rem;
    margin-bottom: 20px;
    background: #402412;
    opacity: 1;
}

.footer_wrapper{
    width: 100%;
    position: relative;
    margin-top: 5rem;
}

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
}

.footer_info {
    padding: 5px;
    color: #402412;
    text-align: center;
    line-height: 25px;
}

/* RWD */
@media (max-width: 600px) {
    .hr {
        width: 20rem;
    }
    .footer_info {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
}